body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;
}
/* .............defining landing page section */
.img1 {
  min-height: 100vh;
  background: url('./images/pexels-photo-373912.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  opacity: 0.7;
  background-position: center;
}
.header {
  position: absolute;
  top: 50%;
  text-align: center;

  color: #fff;
  width: 100%;
  font-size: 27px;
  letter-spacing: 8px;
}
.header span {
  padding: 20px;
  background-color: #111;
  text-align: center;
}

/* .............Section One...................... */
main {
  padding: 0;
  margin: 0;
}
.light-section {
  text-align: center;
  padding: 50px 80px;
  /* opacity: 0.75; */
  background-color: #f4f4f4;
  color: #666;
}
.img-2 {
  background: url('./images/pexels-photo-373893.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-position: center;
  min-height: 400px;
  opacity: 0.70;
}
.image-headline {
  color: #fff;
  font-size: 27px;
  letter-spacing: 8px;
}
